---
import Button from "../components/Button.astro";
import InputText from "../components/InputText.astro";
import Icon from "../components/Icon.astro";

const { class: className = "", ...rest } = Astro.props;

function click(event: MouseEvent) {
  console.log("Search clicked");
}
---

<div class={`w-full md:w-2xl flex flex-row items-center gap-2 ${className}`} {...rest}>
  <InputText class="w-full"/>
  <Button class="flex items-center justify-center" onClick={click()}>
    <Icon name="search" />
  </Button>
</div>