---
import Search from '../components/Search.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="w-full h-full flex flex-col items-center justify-center p-5">
		<Search class="w-full max-w-2xl"/>
	</div>
	<Footer />
</Layout>
